
.section
{
margin-left: 641px;
margin-right: 159px;
margin-top: 236px;

    height: 1284px;
width: 1120px;



}
.title {
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

}
.galery_items {
    display: grid;
    gap: 10px;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    padding: 40px 0 0 0;

}
.galery_item {
    position: relative;
    padding: 0px 0px 278px 0px
}



img{
    position: absolute;
    z-index: 1;
}

.galery_item_big {
grid-column: span 2;
grid-row: span 2;

}
.subtitle{
    position: absolute;
    z-index: 2;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 130%;
padding: 17px 16px;
width: 268px;
height: 49px;
color: #FFFFFF;
}
.price{
    z-index: 2;
    position: absolute;
    padding: 219px 0 19px 19px;
    color: #FFFFFF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 130%;
}
.info{
    z-index: 2;
    position: absolute; 
    padding: 16px 0 0px 29px;
}
.subtitle_big {
   
    z-index: 2;
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 130%;
width: 456px;

color: #FFFFFF;
}
.town {
    padding: 73px 0 0px 0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
width: 450PX;
}
.data {
    z-index: 2;
    padding: 15px 0 0px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

color: #FFFFFF;
}
.price_big {
    z-index: 2;
    padding: 359px 0 0px 0px;
    
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;

color: #FFFFFF;
}
